    #login {
        width: 40rem;
        margin: 2rem auto 0;
    }
    
    #upImage {
        margin: 0 auto;
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        color: #333;
        border-radius: 50%;
        border: 1px solid #e6e6e6;
        overflow: hidden;
    }
    
    #preview {
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    
    img#preview[src=""],
    img:not([src]) {
        opacity: 0;
    }
    
    .relative {
        position: relative
    }
    
    #imgFile {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        z-index: 1
    }

    #loginForm{
        width:28rem;
        margin:8rem auto 0;
    }

    .login-form{
        width: 80%;
        margin:0 auto;
    }

    .logo{
        width: 8rem;
        height:8rem;
        border-radius: 50%;
        background: #40AFFE;
        margin: 0 auto;
    }

    .slogan{
        margin:1rem 0 4rem;
        text-align: center;
        font-size: .9rem;
    }

    .container{
        border: 2px solid #BBB5B5;
        background: #e8e8e8;
        border-radius: 8px;
        padding-top: 15px;
    }

    .t-right{
        text-align: right;
        margin-top: 5px;
    }

    .t-center{
        text-align: center;
    }

    .loginbtn{
        width:5rem;
        font-size: .9rem;
    }

    .state{
        font-size: 1.4rem;
        display: inline-block;
        position: absolute;
        top:.1rem;
        right:0;
        color:green;
    }

    #state{
        right: -.6rem;
    }

    #login .layui-form-label{
        width: 10rem;
    }

    #login .input-short{
        width:42%;
    }
    #login .layui-input-block {
        margin-left: 10.5rem;
    }
    #login .layui-input{
        width: 80%;
    }
    #login .layui-form-select .layui-input{
        width: 100%;
    }
    #login .layui-form-select,#login .layui-anim.layui-anim-upbit{
        width:80%;
    }
    #finish{
        font-size: .8rem;
        padding:0 2rem;
    }

    @media screen and (max-width:480px) {
        body {
            -webkit-text-size-adjust: none;
            font-size: 80%;
        }
        #login {
            width: 20rem;
        }
        #login .layui-form-label{
            width: 7rem;
            padding: 9px 4px;
        }
        #login .layui-input-block {
            margin-left: 7.5rem;
        }
        #loginForm{
            margin:4rem auto 0;
            width: 18rem;
        }
        #loginForm .layui-form-label{
            width:3rem;
        }
        #loginForm .layui-input-block{
            margin-left: 68px;
            width: 65%;
        }
        .logo{
            width:6rem;
            height: 6rem;
        }
        .slogan{
            font-size: .8rem;
        }
    }
    
    @media screen and (max-width:320px) {
        #login {
            width: 18rem;
        }
    }